

<mat-toolbar>
  <a href="/coustomers" class="button">customer</a>
  <a href="/products" class="button">product</a>

</mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <button routerLink='home' mat-button class="menu-button">      
        <span>Home</span>
    </button>
    <button routerLink='coustomers' mat-button class="menu-button">
      
      <span>coustomers</span>
  </button>
  <button routerLink='products' mat-button class="menu-button">
      
    <span>products</span>
</button>
  
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
